{% load static %}


<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'profiles' %}"><span class="header__logo">Team<i class="fa fa-cog fa-spin fa-lg fa-fw"></i>Junior</span></a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Меню</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem "><a href="{% url 'profiles' %}">Разработчики</a></li>
                <li class="header__menuItem"><a href="{% url 'projects' %}">Проекты</a></li>



                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'inbox' %}">Сообщения</a></li>
                <li class="header__menuItem"><a href="{% url 'account' %}">Мой аккаунт</a></li>
                    <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Выйти</a>
                        <span class="team_name"><i class="bi bi-alipay m-sm"></i>{{ user.username }}</span>
{#                        <span class="team_name">{{ user.username }}</span>#}


                        {% if not request.user.profile.test_passed %}
                    <a href="" class="btn btn--sub">Тестирование!!!!</a></li>
                        {% endif %}

                {% else %}
                <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Войти/зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>