.team_name_outer {
    display: flex;
    align-items: center;
}

.team_name {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-light);
    font-family: var(--font-base);
    margin-left: 5px;
}

.team_carousel {
    padding: 0;
}

.team_carousel .carousel-item {
    display: flex;
    height: 20vh;
}

.team_carousel .carousel-item img {
    object-fit: cover;
}
